# Ignore all log files
*.log

# Ignore node_modules directory
/node_modules

# Ignore compiled Python files
*.pyc

# Ignore environment file
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore specific file but keep it in the repository
!important-file.txt

